In [24]:
import pandas as pd  #导入需要用到的包
import numpy as np
import matplotlib.pyplot as plt
import tushare as ts

In [25]:
df=pd.read_csv('C:\\Users\86666\Desktop\python文件处理\\a002094.csv')#从csv文件中读取dataframe数据
print('读取成功')
df

读取成功

,Unnamed: 0,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,0,002094.SZ,20200812,4.66,4.74,4.52,4.67,4.84,-0.17,-3.5124,498934.88,230502.0850
1,1,002094.SZ,20200811,4.78,5.16,4.71,4.84,4.69,0.15,3.1983,734090.75,368740.7140
2,2,002094.SZ,20200810,4.66,4.86,4.62,4.69,4.58,0.11,2.4017,198384.00,93422.6390
3,3,002094.SZ,20200807,4.72,4.72,4.51,4.58,4.72,-0.14,-2.9661,212517.60,97453.5920
4,4,002094.SZ,20200806,4.71,4.89,4.68,4.72,4.68,0.04,0.8547,319919.20,152489.2340
...,...,...,...,...,...,...,...,...,...,...,...,...
3087,3087,002094.SZ,20061221,13.33,13.50,13.10,13.12,13.35,-0.23,-1.7200,27489.50,36622.3038
3088,3088,002094.SZ,20061220,13.45,13.50,13.12,13.35,13.55,-0.20,-1.4800,28936.27,38466.0406
3089,3089,002094.SZ,20061219,13.15,13.75,13.03,13.55,13.34,0.21,1.5700,46970.06,63095.9578
3090,3090,002094.SZ,20061218,13.95,13.95,12.87,13.34,14.30,-0.96,-6.7100,71580.75,94609.3316
3091,3091,002094.SZ,20061215,14.61,15.50,14.00,14.30,7.69,6.61,85.9600,187662.29,279062.9609

In [26]:
df1=df.drop('Unnamed: 0',axis=1)#删除无用的Unnamed: 列
df1

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,002094.SZ,20200812,4.66,4.74,4.52,4.67,4.84,-0.17,-3.5124,498934.88,230502.0850
1,002094.SZ,20200811,4.78,5.16,4.71,4.84,4.69,0.15,3.1983,734090.75,368740.7140
2,002094.SZ,20200810,4.66,4.86,4.62,4.69,4.58,0.11,2.4017,198384.00,93422.6390
3,002094.SZ,20200807,4.72,4.72,4.51,4.58,4.72,-0.14,-2.9661,212517.60,97453.5920
4,002094.SZ,20200806,4.71,4.89,4.68,4.72,4.68,0.04,0.8547,319919.20,152489.2340
...,...,...,...,...,...,...,...,...,...,...,...
3087,002094.SZ,20061221,13.33,13.50,13.10,13.12,13.35,-0.23,-1.7200,27489.50,36622.3038
3088,002094.SZ,20061220,13.45,13.50,13.12,13.35,13.55,-0.20,-1.4800,28936.27,38466.0406
3089,002094.SZ,20061219,13.15,13.75,13.03,13.55,13.34,0.21,1.5700,46970.06,63095.9578
3090,002094.SZ,20061218,13.95,13.95,12.87,13.34,14.30,-0.96,-6.7100,71580.75,94609.3316
3091,002094.SZ,20061215,14.61,15.50,14.00,14.30,7.69,6.61,85.9600,187662.29,279062.9609

In [27]:
df1['trade_date']

0       20200812
1       20200811
2       20200810
3       20200807
4       20200806
          ...
3087    20061221
3088    20061220
3089    20061219
3090    20061218
3091    20061215
Name: trade_date, Length: 3092, dtype: int64

In [28]:
df1['trade_date']=pd.to_datetime(df1['trade_date'],format='%Y%m%d')#时间序列的转化
df1['trade_date']

0      2020-08-12
1      2020-08-11
2      2020-08-10
3      2020-08-07
4      2020-08-06
          ...
3087   2006-12-21
3088   2006-12-20
3089   2006-12-19
3090   2006-12-18
3091   2006-12-15
Name: trade_date, Length: 3092, dtype: datetime64[ns]

In [29]:
df1

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,002094.SZ,2020-08-12,4.66,4.74,4.52,4.67,4.84,-0.17,-3.5124,498934.88,230502.0850
1,002094.SZ,2020-08-11,4.78,5.16,4.71,4.84,4.69,0.15,3.1983,734090.75,368740.7140
2,002094.SZ,2020-08-10,4.66,4.86,4.62,4.69,4.58,0.11,2.4017,198384.00,93422.6390
3,002094.SZ,2020-08-07,4.72,4.72,4.51,4.58,4.72,-0.14,-2.9661,212517.60,97453.5920
4,002094.SZ,2020-08-06,4.71,4.89,4.68,4.72,4.68,0.04,0.8547,319919.20,152489.2340
...,...,...,...,...,...,...,...,...,...,...,...
3087,002094.SZ,2006-12-21,13.33,13.50,13.10,13.12,13.35,-0.23,-1.7200,27489.50,36622.3038
3088,002094.SZ,2006-12-20,13.45,13.50,13.12,13.35,13.55,-0.20,-1.4800,28936.27,38466.0406
3089,002094.SZ,2006-12-19,13.15,13.75,13.03,13.55,13.34,0.21,1.5700,46970.06,63095.9578
3090,002094.SZ,2006-12-18,13.95,13.95,12.87,13.34,14.30,-0.96,-6.7100,71580.75,94609.3316
3091,002094.SZ,2006-12-15,14.61,15.50,14.00,14.30,7.69,6.61,85.9600,187662.29,279062.9609

In [31]:
df2=df1.set_index('trade_date')#将交易日转化为行索引
df2

,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount
trade_date,,,,,,,,,,
2020-08-12,002094.SZ,4.66,4.74,4.52,4.67,4.84,-0.17,-3.5124,498934.88,230502.0850
2020-08-11,002094.SZ,4.78,5.16,4.71,4.84,4.69,0.15,3.1983,734090.75,368740.7140
2020-08-10,002094.SZ,4.66,4.86,4.62,4.69,4.58,0.11,2.4017,198384.00,93422.6390
2020-08-07,002094.SZ,4.72,4.72,4.51,4.58,4.72,-0.14,-2.9661,212517.60,97453.5920
2020-08-06,002094.SZ,4.71,4.89,4.68,4.72,4.68,0.04,0.8547,319919.20,152489.2340
...,...,...,...,...,...,...,...,...,...,...
2006-12-21,002094.SZ,13.33,13.50,13.10,13.12,13.35,-0.23,-1.7200,27489.50,36622.3038
2006-12-20,002094.SZ,13.45,13.50,13.12,13.35,13.55,-0.20,-1.4800,28936.27,38466.0406
2006-12-19,002094.SZ,13.15,13.75,13.03,13.55,13.34,0.21,1.5700,46970.06,63095.9578
2006-12-18,002094.SZ,13.95,13.95,12.87,13.34,14.30,-0.96,-6.7100,71580.75,94609.3316
2006-12-15,002094.SZ,14.61,15.50,14.00,14.30,7.69,6.61,85.9600,187662.29,279062.9609

# 五日均线前四日没有均值  30日均线前29天没有均值

In [32]:
#添加两列数据 用缺失值填充
df2['ma5']=np.nan
df2['ma30']=np.nan
df2

,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount,ma5,ma30
trade_date,,,,,,,,,,,,
2020-08-12,002094.SZ,4.66,4.74,4.52,4.67,4.84,-0.17,-3.5124,498934.88,230502.0850,NaN,NaN
2020-08-11,002094.SZ,4.78,5.16,4.71,4.84,4.69,0.15,3.1983,734090.75,368740.7140,NaN,NaN
2020-08-10,002094.SZ,4.66,4.86,4.62,4.69,4.58,0.11,2.4017,198384.00,93422.6390,NaN,NaN
2020-08-07,002094.SZ,4.72,4.72,4.51,4.58,4.72,-0.14,-2.9661,212517.60,97453.5920,NaN,NaN
2020-08-06,002094.SZ,4.71,4.89,4.68,4.72,4.68,0.04,0.8547,319919.20,152489.2340,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2006-12-21,002094.SZ,13.33,13.50,13.10,13.12,13.35,-0.23,-1.7200,27489.50,36622.3038,NaN,NaN
2006-12-20,002094.SZ,13.45,13.50,13.12,13.35,13.55,-0.20,-1.4800,28936.27,38466.0406,NaN,NaN
2006-12-19,002094.SZ,13.15,13.75,13.03,13.55,13.34,0.21,1.5700,46970.06,63095.9578,NaN,NaN
2006-12-18,002094.SZ,13.95,13.95,12.87,13.34,14.30,-0.96,-6.7100,71580.75,94609.3316,NaN,NaN
2006-12-15,002094.SZ,14.61,15.50,14.00,14.30,7.69,6.61,85.9600,187662.29,279062.9609,NaN,NaN

# 用for循环来求五日和三十日均线